*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE specific files
.idea/
.vscode/

# Go modules
vendor/

# Logs
*.log

# Environment variables
.env
